<h2>Add a new celebrity</h2>

<form method="POST" action="/celebrities/create">
    <label for="name">Name:<input name="name" id="name"/></label>
    <label for="occupation">Occupation:<input name="occupation" id="occupation"/></label>
    <label for="catchPhrase">Catch Phrase:<input name="catchPhrase" id="catchPhrase"/></label>
    <button type="submit">Create a new Celebrity</button>
</form>